@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900');

@font-face{
  font-family: "Roboto";
  src: url(fonts/Ml.woff2);
  font-weight: 800;
}

html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

article{
  font-family: "Roboto", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 5vh;
  transition: 1s linear 0s;
  position: fixed;
}

article:first-of-type{
  transition: 1s cubic-bezier(.64,-1.07,.55,1.89) 0s;
}

body:hover article{
  transform: rotate(360deg);
  color: green;
}

span{
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;;
  line-height: 60px;
  text-transform: uppercase;
}

strong,b{
  font-weight: 800;
  color: hsl(0,100%,40%);
}
