@keyframes sumir{
  0%{ opacity:1; }
  100%{ opacity:0;}
}

div{
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 50%;
  background: black;
  bottom: 5px;
  animation: sumir 1s forwards;
}
