@keyframes sumir{
  0%{ opacity:1; }
  100%{ opacity:0;}
}

@keyframes subir{
  0%{ margin-bottom: 0px; }
  100%{ margin-bottom: 100px;}
}

@keyframes zig{
  0%{ margin-left: 0px; }
  100%{ margin-left: 20px;}
}

div{
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 50%;
  background: black;
  animation:  sumir 1s forwards,
              subir 1s linear forwards,
              zig 0.25s infinite alternate;
}

div:nth-of-type(1){
  bottom: 5px;
  left: 100px;
}

div:nth-of-type(2){
  bottom: 5px;
  left: 200px;
}
