@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900');

@font-face{
  font-family: "Roboto";
  src: url(fonts/Ml.woff2);
  font-weight: 800;
}

article{
  font-family: "Roboto", cursive;
  font-weight: 400;
}

span{
  font-weight: 100;
}

strong,b{
  font-weight: 800;
}
