@keyframes tremilicar{
  0%{
    transform: scaleY(0.95) rotate(5deg);
  }
  100%{
    transform: scaleY(1.05) rotate(-5deg);
  }
}

body{
  transition: 2s;
}

body.cena1 {
  background: hsl(210, 100%, 20%);
}

body.cena2 {
  background: hsl(330, 100%, 40%);
}

body.cena3 {
  background: hsl(210, 100%, 70%);
}

div.grama{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: hsl(120, 100%,30%);
}


div.sol{
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: hsl(40, 100% , 80%) url("sol.jpg") no-repeat center center;
  background-size: cover;
  left: 50%;
  transition: 2s;
  animation: tremilicar .1s infinite alternate;
}

.cena1 div.sol{
  bottom: -70px;
}

.cena2 div.sol{
  bottom: 20px;
}

.cena3 div.sol{
  bottom: 300px;
  width: 150px;
  height: 150px;
}
