@keyframes tremilicar{
  0%{
    transform: scaleX(1.01) scaleY(0.99);
  }
  50%{
    transform: scaleX(0.99) scaleY(0.99);
  }
  0%{
    transform: scaleX(1) scaleY(1.2);
  }
}

html, body{
  margin:0;
  padding:0;
}

svg{
  background: #ccc;
}

polyline{
  fill: transparent;
  stroke: #00f;
  
}
