div{
  background: hsla(240,100%,50%,0.2);
}

#bisavo{
  width: 600px;
  height: 600px;
}

#avo{
  width: 500px;
  height: 500px;
  position: relative;
}

#pai{
  width: 400px;
  height: 400px;
  position: absolute;
}

#filho{
  width: 50px;
  height: 50px;
  background: red;
  right: 20px;
  bottom: 20px;
  position: absolute;
}
